
<div class="container">
    <input type="submit" value="Kijelentkezés" class="btn-login logout" id="Button"  (click)="logout()">
    <input type="submit" value="Számláló" class="btn-login location" id="Button"  (click)="location()">
    <div class="forms-container">
        <div class="login">
            <div class="logo">
                <span class="lo">Ke</span><span class="go">Norby</span>
            </div>
            <div class="sign-in-up">
                    <h4 class="title">Km/h</h4>
                    <input id="kmperh" type="text"  value="" disabled class="all">
                    <h4 class="title">Távolság (km)</h4>
                    <input id="distance" type="text"  value="" disabled class="all">   
                    <h4 class="title">Indult</h4>
                    <input id="timer" type="text"  value="" disabled class="all">            
            </div>
        </div>
    </div>
</div>